monorepo_version_separator = "/"
tag_prefix = "v"
ignore_merge_commits = true
ignore_fixup_commits = true

pre_package_bump_hooks = [
    "git config --global user.name \"release-bot\"",
    "git config --global user.email \"release-bot@ci.net\"",
    "export FREEBSD_FLAVORS={{package}} ; rm -rf ./artifacts/ ; cd .. ; ./make.iso.with.installer.sh"
]

post_package_bump_hooks = [
    "gh release create \"{{package}}-{{version}}\" --title \"{{package}}-{{version}}\" -F ./CHANGELOG.md ./../artifacts/{{package}}-*.xz"
]

post_bump_hooks = [
    "git config --global user.name \"release-bot\"",
    "git config --global user.email \"release-bot@ci.net\"",
    "git push \"https://${GITHUB_TOKEN}@github.com/${CIRRUS_REPO_FULL_NAME}.git\" ",
    "git push \"https://${GITHUB_TOKEN}@github.com/${CIRRUS_REPO_FULL_NAME}.git\" --tags",
]


[packages]
desktop   = { path = "desktop"   } 
minimal   = { path = "minimal"   } 
poudriere = { path = "poudriere" }
